<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "flash-message #{name}" %>
<% end %>

<%# ポスター部分 %>
<div class="index-poster">
  <%= image_tag "poster2.png", class: 'index-poster-img' %>
  <div class="index-poster-grd"></div>
  <div class="index-poster-str">
    <h1>アットホームでお気に入りの一杯を</h1>
    <p>好みのカクテルを探せる</p>
    <p>オリジナルカクテルの投稿ができる</p>
  </div>
</div>

<%# 検索部分 %>
<h1 class="index-search-h1">カクテルを探す</h1>

<div class="index-search">
  <div class="index-search-btn">
    <%= image_tag "base-before.png", class: "search-before-img", id: "base-before-btn" %>
    <%= image_tag "base-after.png", class: "search-after-img", id: "base-after-btn" %>
  </div>

  <div class="index-search-btn">
    <%= image_tag "soda-before.png", class: "search-before-img", id: "soda-before-btn" %>
    <%= image_tag "soda-after.png", class: "search-after-img", id: "soda-after-btn" %>
  </div>

  <div class="index-search-btn">
    <% if user_signed_in? %>
    <%= form_tag follows_path, method: :get, class: "search-form" do %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= image_tag "follow-before.png", class: "search-before-img", id: "follow-before-btn" %>
    <%= image_submit_tag "follow-after.png", class: "search-after-img", id: "follow-after-btn" %>
    <% end %>
    <% else %>
    <%= link_to new_user_session_path do %>
    <%= image_tag "follow-before.png", class: "search-before-img", id: "follow-before-btn" %>
    <%= image_submit_tag "follow-after.png", class: "search-after-img", id: "follow-after-btn" %>
    <% end %>
  <% end %>
  </div>

  <div class="index-search-btn">
    <% if user_signed_in? %>
    <%= form_tag search_cocktails_path, method: :get do %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= image_tag "favorite-before.png", class: "search-before-img", id: "favorite-before-btn" %>
    <%= image_submit_tag "favorite-after.png", class: "search-after-img", id: "favorite-after-btn" %>
    <% end %>
    <% else %>
    <%= link_to new_user_session_path do %>
    <%= image_tag "favorite-before.png", class: "search-before-img", id: "favorite-before-btn" %>
    <%= image_submit_tag "favorite-after.png", class: "search-after-img", id: "favorite-after-btn" %>
    <% end %>
    <% end %>
  </div>
</div>

<%# モーダルウィンドウ %>
<div class="modal-overlay" id="modal-overlay"></div>

<div class="modal-search1" id="modal-search1">
  <h1 class="modal-h1">ベースを選択してください</h1>
  <div class="modal-base">
    <%= form_with(url: search_cocktails_path, local: true, method: :get, class: "search-form") do |cocktail| %>
      <div class="modal-search-base">
        <%= cocktail.collection_select(:alcohol_id, Alcohol.all, :id, :name, {}) %>
      </div>
      <div class="modal-send">
        <%= cocktail.submit "Search" %>
      </div>
    <% end %>
  </div>
</div>

<div class="modal-search2" id="modal-search2">
  <h1 class="modal-h1">割り材料を入力してください</h1>
  <div class="modal-soda">
    <%= form_with(url: search_cocktails_path, local: true, method: :get, class: "search-form") do |cocktail| %>
      <div class="modal-search-soda">
        <%= cocktail.text_field :keyword %>
      </div>
      <div class="modal-send">
        <%= cocktail.submit "Search" %>
      </div>
    <% end %>
  </div>
</div>

<%# カクテル一覧 %>
<h1 class="index-cocktail-h1">新規投稿カクテル</h1>

<div class="cocktail-index">
<% @cocktails.each do |cocktail| %>
  <div class="cocktail-index-box">
    <%= link_to cocktail_path(cocktail.id) do %>
    <div class="cocktail-index-name"><%= cocktail.name %></div>
    <div class="cocktail-index-tab">
      <div class="cocktail-index-alcohol">Base : <%= cocktail.alcohol.name %></div>
      <div class="cocktail-index-type">Style : <%= cocktail.type.name %></div>
    </div>
    <%= image_tag cocktail.image, class: "cocktail-index-img" %>
    <% end %>
  </div>
<% end %>
</div>

<%# 作成ボタン %>
<%= link_to(new_cocktail_path, class: 'make-btn') do %>
  <%= image_tag 'make-btn.png' , size: '150x150' ,class: "make-btn-icon" %>
<% end %>