トップページ
<%= link_to "ログイン", new_user_session_path, class: "post" %>
<%= link_to "新規登録", new_user_registration_path, class: "post" %>
<%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>

<div>
  <%= link_to 'カクテルを作成する', new_cocktail_path %>
</div>

<div>
  <%= link_to 'ユーザー編集', edit_user_registration_path %>
</div>

<%# ポスター部分 %>
<div class="index-poster">
  <%= image_tag "poster2.png", class: 'index-poster-img' %>
  <div class="index-poster-grd"></div>
  <div class="index-poster-str">
    <h1>アットホームでお気に入りの一杯を</h1>
    <p>好みのカクテルを探せる</p>
    <p>オリジナルカクテルの投稿ができる</p>
  </div>
</div>

<%# カクテル一覧 %>
<div class="cocktail-index">
<% @cocktails.each do |cocktail| %>
  <div class="cocktail-index-box">
    <%= link_to cocktail_path(cocktail.id) do %>
    <div class="cocktail-index-name"><%= cocktail.name %></div>
    <div class="cocktail-index-tab">
      <div class="cocktail-index-alcohol">Base : <%= cocktail.alcohol.name %></div>
      <div class="cocktail-index-type">Style : <%= cocktail.type.name %></div>
    </div>
    <%= image_tag cocktail.image, class: "cocktail-index-img" %>
    <% end %>
  </div>
<% end %>
</div>

<%# 作成ボタン %>
<%= link_to(new_cocktail_path, class: 'make-btn') do %>
  <%= image_tag 'make-btn.png' , size: '150x150' ,class: "make-btn-icon" %>
<% end %>