<%# 編集ボタン、削除ボタン（登録ユーザーのみ） %>
<% if user_signed_in? && (current_user.id == @cocktail.user_id) %>
<div class="cocktail-show-btn">
  <div class="cocktail-show-edit-btn">
    <%= link_to "編集", edit_cocktail_path(@cocktail.id) %>
  </div>
  <div class="cocktail-show-del-btn">
    <%= link_to '削除', cocktail_path, data: { turbo_method: :delete ,turbo_confirm: "このオリジナルカクテルを削除しますか？"} %>
  </div>
</div>
<% end %>

<%# カクテル詳細部分 %>
<div class="cocktail-show">

  <div class="cocktail-show-left">
    <div class="cocktail-show-name"><%= @cocktail.name %></div>
    <div class="cocktail-show-user">by : <%= link_to @cocktail.user.nickname, user_path(@cocktail.user.id) %></div>
    <div class="name">
      <%# フォローボタン %>
      <% if user_signed_in? && (current_user != @user) %>
      <% if @user.followed_by?(current_user) %>
      <div class="show-follow-btn1">
        <%=link_to "フォロー中", user_relationships_path(@user.id), data: { turbo_method: :delete } %>
      </div>
      <% else %>
      <div class="show-follow-btn2">
        <%=link_to "フォローする", user_relationships_path(@user.id), data: { turbo_method: :post } %>
      </div>
      <% end %>
      <% end %>
      <%# フォローボタン終わり %>
    </div>
    <div class="cocktail-show-img-box">
    <%= image_tag @cocktail.image, class: "cocktail-show-img" %>
    </div>
    <h2>説明</h2>
    <div class="cocktail-show-description"><%= @cocktail.description %></div>
  </div>

  <div class="cocktail-show-right">
    <div class="cocktail-show-tab">
      <div class="cocktail-show-alcohol">Base : <%= @cocktail.alcohol.name %></div>
      <div class="cocktail-show-type">Style : <%= @cocktail.type.name %></div>
    </div>
    <h2>材料</h2>
    <div class="cocktail-show-ingredient "><%= @cocktail.ingredient %></div>
    <h2>道具</h2>
    <div class="cocktail-show-tool"><%= @cocktail.tool %></div>
    <h2>レシピ</h2>
    <div class="cocktail-show-recipe"><%= @cocktail.recipe %></div>
  </div>

</div>