<%# プロフィール欄 %>
<h1 class="user-show-h1">プロフィール</h1>
<div class="user-show">
<div class="user-show-box">
  <div class="user-show-img-box">
  <% if @user.image.attached? %>
  <%= image_tag @user.image, class: "user-show-img" %>
  <% else %>
  <%= image_tag "profile.png", class: "user-show-img" %>
  <% end %>
  </div>

  <div class="user-show-name">Nickname : <%= @user.nickname %></div>
  <%# フォローボタン %>
  <% if user_signed_in? && current_user != @user %>
  <% if @user.followed_by?(current_user) %>
  <div class="follow-btn1">
    <%=link_to "フォロー中", user_relationships_path(@user.id), data: { turbo_method: :delete } %>
  </div>
  <% else %>
  <div class="follow-btn2">
    <%=link_to "フォローする", user_relationships_path(@user.id), data: { turbo_method: :post } %>
  </div>
  <% end %>
  <% end %>
  <%# フォローボタン終わり %>

  <h2 class="user-show-h2">自己紹介</h2>
  <div class="user-show-bio"><%= @user.bio %></div>
</div>
</div>

<%# カクテル一覧 %>
<h1 class="user-show-h1"><%= @user.nickname %>さんのカクテル</h1>
<div class="cocktail-index">
<% @cocktails.each do |cocktail| %>
  <div class="cocktail-index-box">
    <%= link_to cocktail_path(cocktail.id) do %>
    <div class="cocktail-index-name"><%= cocktail.name %></div>
    <div class="cocktail-index-tab">
      <div class="cocktail-index-alcohol">Base : <%= cocktail.alcohol.name %></div>
      <div class="cocktail-index-type">Style : <%= cocktail.type.name %></div>
    </div>
    <%= image_tag cocktail.image, class: "cocktail-index-img" %>
    <% end %>
  </div>
<% end %>
</div>